<footer class="footer mt-auto">
  <div class="container-fluid bg-primary d-flex flex-column flex-sm-row justify-content-between pt-4 pb-3 mt-4 border-top">
    <p>© Copyright {{ now.Year }}. All rights reserved.</p>
    <ul class="list-unstyled d-flex">
      <li class="ms-3"><a class="link-light" href="#" target="_blank"><i class="bi bi-linkedin"></i></a></li>
      <li class="ms-3"><a class="link-light" href="#" target="_blank"><i class="bi bi-instagram"></i></a></li>
      <li class="ms-3"><a class="link-light" href="#" target="_blank"><i class="bi bi-tiktok"></i></a></li>
    </ul>
  </div>
</footer>
